# VectorDB
faiss-cpu
sentence_transformers

# Streamlit
streamlit
ai21

# LIGHT RAG
lightrag-hku
aioboto3
ollama
nano_vectordb
neo4j
oracledb

# LLMs
openai
langchain
anthropic
groq
langchain_openai
langchain-community
scikit-learn

# DOCS
PyPDF2
python-docx
python-dotenv

# EmailClient
mailjet_rest


# Google Cloud
google-cloud
google-cloud-datastore==2.19.0
google-cloud-storage==2.18.0
google-cloud-storage-control==1.0.2